.startpage-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0 5%;
    text-align: center;
    
}

.startpage-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../asset/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px);
    z-index: 0;
}


.fade-in-text {
    font-size: 6vw;
    max-width: 90%;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: white;
    z-index: 1;
    opacity: 0;
    transform: translateY(4vh);
    animation: fadeInUp 2s ease forwards;
    line-height: 1.2;
    text-align: center;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}